body {
  font-family: 'Roboto';
  margin: 0;
  min-height: 250px;
  min-width: 350px;
}

#header-background {
  background-color: #004aad;
  height: 65px;
  position: absolute;
  top: 0;
  width: 100%;
}

#header {
  align-items: center;
  background-color: rgb(255, 255, 255, 0.3);
  color: white;
  display: flex;
  font: bold 2rem 'Roboto', sans-serif;
  height: 65px;
  padding: 0 10px;
  position: relative;
  top: 0;
  width: 100%;
}

#header img {
  height: 65%;
  margin: 0 5px;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 20px 10px; 
}

#doc-name-input {
  font: 1.25rem 'Roboto';
  margin: 5px 0;
  padding: 5px 10px;
}

button {
  font: 1.25rem 'Roboto';
  padding: 5px 10px;
}