body {
  font-family: 'Roboto';
  margin: 0;
  min-height: 250px;
  min-width: 350px;
}

#header-background {
  background-color: #004aad;
  height: 55px;
  position: absolute;
  top: 0;
  width: 100%;
}

#header {
  align-items: center;
  background-color: rgb(255, 255, 255, 0.3);
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2);
  color: white;
  display: flex;
  font: bold 1.5rem 'Roboto', sans-serif;
  height: 55px;
  padding: 0 10px;
  position: relative;
  top: 0;
  width: 100%;
}

#header img {
  height: 65%;
  margin: 0 5px 5px 5px;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 20px 10px; 
}

#doc-name-input {
  font: 1rem 'Roboto';
  margin: 5px 0;
  padding: 5px 10px;
}

#doc-name-input:focus {
  outline: steelblue auto 2px;
}

button {
  font: 1rem 'Roboto';
  padding: 5px 10px;
}

#footer {
  bottom: 0;
  padding: 5px;
  position: absolute;
}